<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pocketasl.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketASL">
        <activity android:name=".ui.home.level11.Level12Activity"/>
        <activity android:name=".ui.home.level11.alphabet.alphabet" />
        <activity android:name=".ui.home.level11.alphabet.alphabet2" />
        <activity android:name=".ui.home.level11.alphabet.alphabet3" />
        <activity android:name=".ui.home.level11.Level11Activity" />
        <activity android:name=".ui.home.level11.Level13Activity" />
        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>